@import '../Variables.scss';

.header {
  display: flex;
  width: 100vw;
  padding: 20px;
  align-items: center;
  background-color: $color-grey-dark-1;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);

  @media only screen and (min-width: $bp-768) {
    background-color: $color-grey-light-2;
    position: relative;
    justify-content: space-between;
    box-shadow: none;
  }
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
