.container {
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-image: linear-gradient(
    to right bottom,
    var(--primary-color),
    #a29bfe
  );
}

.placeForm {
  width: fit-content;
  border-radius: 5px;
}

.input {
  width: 500px;
}

.button {
  width: 100%;
}
