.placeItem {
  max-width: 600px;
  text-align: center;

  &__image {
    height: 350px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }
}

.deleteModalButtons button:first-of-type {
  // display: flex;
  // margin-left: auto;
  margin-right: 5px;
}
